.layout-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    
}

.layout-content {
    width: 70%;
    position: relative;

 }

 .tabs-container {
    top: 0;
 }


@media all and (max-width: 1024px) {
    .layout-content {
        width: 90%;
     }
}

@media all and (max-width: 480px) {
    .layout-content {
        width: 100%;
     }
}