.error-layout-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--x-large);
}

.error-code {
    margin-top: 10%;
    font-size: calc(4*(var(--x-large)));
}

.error-button {
    width: calc(10*(var(--medium)));
    height: var(--x-large);
    border-radius: var(--medium);
    font-size: var(--medium);
    cursor: pointer;
}

.error-button:hover {
    color: plum;
}

